/* menu/body */
body{
    font-family: 'Montserrat';
}

.menu-main, .head-buttons{
    display: flex;
    justify-content: space-between;
}

.menu-main, .menu{
    background-color: #1995AD;
}

.title-head{
    font-size: 36px;
    margin: 37px 50px;
}

.head-buttons li{
    font-size: 18px;
    line-height: 38px;
    padding: 25px 50px;
    background-color: #35B7E0;
    margin: 15px 50px;
    border-radius: 50px;
    color: white;
}

.my{
    color:#66CBD1;
}

.title-section{
    font-size: 48px;
    line-height: 68px;
    font-weight: 700;
    color: white;
    text-align: center;
}

/* sections */

.section-1, .section-2, .products, .section-4, .section-5, .section-6{
    height: 958px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* section-1 */
.section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../pics/sections/section1.jpg');
}

.body-title{
    font-size: 72px;
    line-height: 87.77px;
}

.product-list{
    margin-top: 35px;
    text-align: center;
    color: #1995AD;
    font-size: 24px;
    line-height: 29.26px;
}

.to-products{
    margin-top: 35px;
    font-size: 36px;
    line-height: 51px;
    background-color: #1995AD;
    text-decoration: none;
    padding: 39px 90px;
    border-radius: 40px;
}

/* section-2 */

.section-2{
    background-image: url('../pics/sections/section2.jpg');
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.benefits, .tips{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 674px;
    width: 674px;
    background-color: #1995AD;
    border-radius: 100%;
}

.sec-2-title{
    font-size: 42px;
    line-height: 51px;
    max-width: 50%;
    margin-bottom: 50px;
    font-weight: 700;
    color: white;
}

.sec-2-article{
    font-size: 36px;
    line-height: 51px;
    width: 80%;
    text-align: center;
    color: white;
    font-weight: 300;
}

.selectors{
    display: flex;
    width: 80%;
    height: 10%;
    justify-content: space-evenly;
    align-items: center;
}

.selectors div{
    display: flex;
    width: 25%;
    height: 8px;
    background-color: white;
    border-radius: 30px;
}



/* products-section */
#samokats-list, #siegway-list, #giro-list{
    display: none;
}

#samokats-list .img,.samokat{
    background-image: url('../pics/product/samokat.jpg');
}

#siegway-list .img, .siegway{
    background-image: url('../pics/product/segway.jpg');
}

#giro-list .img, .giro{
    background-image: url('../pics/product/giro.jpg');
}

.products{
    background-image: url('../pics/sections/section3.jpg');
    display: flex;
    justify-content: center;
}

.categories, .menu{
    display: flex;
}

.menu{
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.categories li{
    margin-left: 10px;
    font-weight: 600;
}

.categories li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.products-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: 60%;
    text-align: center;
}

.price{
    font-size: 20px;
    color: #1995AD;
    font-weight: 700;
    margin: 10px 0px;
    padding: 10px;
    background-color: #F1F2F2;
    border-radius: 20px;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.buttons a{
    background-color: #107185;
    width: 48%;
    height: 100%;
    padding: 10px 0px;
    border-radius: 20px;
}

.product-list li{
    margin-left: 40px;
}

.img{
    height: 300px;
    width: 300px;
    background-size: contain;
    border-radius: 20px;
}

/* section 4 */

.section-4{
    background-image: url('../pics/sections/section4.jpg');
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.specialist{
    width: 30%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.alex, .mikhail, .dmitry{
    background-position: center;
    background-size: cover;
}

.alex{
    background-image: url('../pics/employers/alex.jpg');
}

.mikhail{
    background-image: url('../pics/employers/mihail.jpg');
}

.dmitry{
    background-image: url('../pics/employers/dmitry.jpg');
}

.specialist-img{
    width: 100%;
    height: 80%;
    border-radius: 100%;
}

.description{
    color: white;
    padding: 20px;
    width: 50%;
    border-radius: 20px;
    background-color: #107185;
}

.desc-title{
    font-size: 36px;
    line-height: 51px;
    font-weight: 700;
    text-align: center;
}

.desc-desc{
    font-size: 24px;
    text-align: center;
}


/* section-5 */

.section-5 {
    display: flex;
    flex-direction: column;
    background-color: #A1D6E2;
}

.sec-5-info {
    width: 1027px;
    height: 154px;
    display: flex;
    background: #F1F2F2;
    border-radius: 50px;
    justify-content:center;
    align-items:center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.sec-5-text {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.9%;

    text-align: center;

    color: #1995AD;

}

.sec-5-items {
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}

.sec-5-logo1, .sec-5-logo2, .sec-5-logo3, .sec-5-logo4 {
    width: 240px;
    height: 240px;
    border-radius:100%;
    background-size: auto 240px;
    background-position: center;
    background-color: white;

}

.sec-5-logo1 {
    background-image: url('../pics/brands/hoverbot.jpg')
}

.sec-5-logo2 {
    background-image: url('../pics/brands/techteam.jpg')
}

.sec-5-logo3 {
    background-image: url('../pics/brands/dualtron.jpg')
}

.sec-5-logo4 {
    background-image: url('../pics/brands/dualtron.jpg');
    background-size: auto 165px;
}


.sec-5-logo-text {
    display: flex;
    width: 240px;
    height: 67px;
    margin-top:275px;
    align-items: center;
    justify-content: center;
    text-align: center;

    background: #1995AD;
    border-radius: 20px;

}

.sec-5-logo-text-inner {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 142.9%;
    text-align: center;

    color: #FFFFFF;

}


/* section-6 */
.section-6 {
    display: flex;
    flex-direction: column;
    background-image: url('../pics/sections/section-6.jpg');
}

.sec-6-content {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.sec-6-info {
    
    width: 982px;
    height: 668px;
    margin-top: 85px;
    background: #1995AD;
    border-radius: 50px;
}

.sec-6-text {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 75px;
    margin-left: 20px;
    margin-top: 30px;

    color: #FFFFFF;
}

.sec-6-news-text-block {
    margin-top: 85px;
    display: flex;
    width: 703px;
    height: 302px;
    justify-content:center;
    align-items:center;
    text-align: center;


    background: #1995AD;
    border-radius: 50px;
}

.sec-6-news-text{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.9%;
    /* or 51px */


    color: #FFFFFF;
}

.sec-6-news-input-block1, .sec-6-news-input-block2 {
    display: flex;
    width: 703px;
    height: 101px;
    margin: 26px 0;
    justify-content:center;
    background: white;
    border-radius: 50px;
}

.sec-6-input {
    width: 75%;
    text-align: center;
    border: none;
    font-size: 36px;
    line-height: 142.9%;
    color: black;
}

::placeholder{
    font-weight: 500;
    font-size: 36px;
    line-height: 142.9%;
    text-align: center;
    color: #A29F9F;

}

.sec-6-news-subscribe-button {
    width: 703px;
    height: 92px;
    font-weight: 700;
    background: #157B8E;
    border-radius: 50px;
    font-size: 36px;
    line-height: 142.9%;
    border: none;
    text-align: center;
    font-family: 'Montserrat';
    color: #FFFFFF;
}


@media (max-width: 1366px){
    .section-1, .section-2, .products, .section-4, .section-5, .section-6{
        height: 1200px;
    }

    .section-2, .section-4{
        flex-direction: column;
    }

    .specialist-img{
        width: 100%;
        height: 80%;
    }

    .description{
        height: 20%;
    }

    .desc-desc{
        font-size: 16px;
    }

    .desc-title{
        font-size: 26px;
    }

    .sec-6-info{
        overflow: auto;
    }
}