/* menu/body */
body{
    font-family: 'Montserrat';
}

.menu-main, .head-buttons{
    display: flex;
    justify-content: space-between;
}

.menu-main, .menu{
    background-color: #1995AD;
}

.title-head{
    font-size: 36px;
    margin: 37px 50px;
}

.head-buttons li{
    font-size: 18px;
    line-height: 38px;
    padding: 25px 50px;
    background-color: #35B7E0;
    margin: 15px 50px;
    border-radius: 50px;
    color: white;
}

.my{
    color:#66CBD1;
}

.title-section{
    font-size: 48px;
    line-height: 68px;
    font-weight: 700;
    color: white;
    text-align: center;
}

/* sections */

.section-1, .section-2, .products{
    height: 958px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* section-1 */
.section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('section1.jpg');
}

.body-title{
    font-size: 72px;
    line-height: 87.77px;
}

.product-list{
    margin-top: 35px;
    text-align: center;
    color: #1995AD;
    font-size: 24px;
    line-height: 29.26px;
}

.to-products{
    margin-top: 35px;
    font-size: 36px;
    line-height: 51px;
    background-color: #1995AD;
    text-decoration: none;
    padding: 39px 90px;
    border-radius: 40px;
}

/* section-2 */

.section-2{
    background-image: url('section2.jpg');
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.benefits, .tips{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 674px;
    width: 674px;
    background-color: #1995AD;
    border-radius: 100%;
}

.sec-2-title{
    font-size: 42px;
    line-height: 51px;
    max-width: 50%;
    margin-bottom: 50px;
    font-weight: 700;
    color: white;
}

.sec-2-article{
    font-size: 36px;
    line-height: 51px;
    max-width: 80%;
    text-align: center;
    color: white;
    font-weight: 300;
}

.selectors{
    margin-top: 50px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.selectors div{
    width: 30%;
    height: 3px;
    background-color: white;
}


/* products-section */
.products{
    background-image: url('1613301702_130-p-sinii-fon-abstraktsiya-geometriya-189.jpg');
    display: flex;
    justify-content: center;
}

.categories, .menu{
    display: flex;
}

.menu{
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.categories li{
    margin-left: 10px;
    font-weight: 600;
}

.categories li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.products-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 60%;
    text-align: center;
}

.product-list li{
    margin-left: 40px;
}

.img{
    height: 300px;
    width: 300px;
    background-image: url('0b242dd5a6f3b60d9c07a5d96a2bc449_2_XL.jpg');
    background-size: contain;
    border-radius: 20px;
}